{% extends 'core/base.html' %}


{% block title %} Contact {% endblock %}

{% block content %}
<!--
cascading homebrew->item/rule/story->
-->
<h1>
<div class="grid grid-cols-5 gap-6">
  <div class="col-span-3">
    <img src="{{weapon.image.url}}" class="rouded-xl">
  </div>
</div>
<div class="col-span-2 p-6 bg-gray-100 rounded-xl">
  <h1 class="mb-6 text-3xl">{{weapon.name}}</h1>
  <p class="text-gray-500"><strong>Author: </strong>{{weapon.created_by.username}}</p>
  <p class="text-gray-500"><strong>primary_stat: </strong>{{weapon.primary_stat}}</p>

  {% if weapon.description %}
    <p class="text-gray-700">
      <strong class="text-gray-500">Description</strong><br>{{weapon.description}}
    </p>
  {% endif %}

  {% if request.user == weapon.created_by %}
    <div class="mt-6 p-6 bg-white rounded-xl">
      <p>This is Your weapon</p>

      <a href="{% url 'homebrew:edit_weapon' item.id %}" class="inline-block mt-6 px-6 py3 text-lg font-semibold bg-teal-500 text-white rounded-xl">
        Edit
      </a>
      <a href="{% url 'homebrew:delete' item.id %}" class="inline-block mt-6 px-6 py3 text-lg font-semibold bg-red-500 text-white rounded-xl">
        Delete
      </a>
    </div>
  {% endif %}
  </div>
</h1>
{% endblock %}